*{
    padding: 0%;
    margin: 0;
    font-family: 'Hina Mincho', serif;
}
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: black;
    font-weight: bold;
  }

  #submit-button {
    border: 1px solid;

    box-shadow: 5px 10px #d3d3d3;
}

#dark-mode{
    border: 1px solid;
    box-shadow:5px 10px red ;
}
 
#dark-mode2{
    border:  1px solid;
    box-shadow: 5px 10px rebeccapurple;
}

#withdraw-button{
    border: 1px solid;
    box-shadow: 5px 10px yellowgreen;
}

#deposite-button{
    border: 1px solid;
    box-shadow: 5px 10px yellowgreen;
}